{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active {{activeFilter}} Listings:</h2>
    <a href="{% url 'category' %}">Filter by category</a>
    <div class="row d-flex mt-5">
      {% for listing in activeListings %}
        <div class="card mb-3 mx-1 rounded" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ listing.url }}" class="img-fluid rounded-start" alt="{{ listing.title }}" style="width: 100%; height: 100%;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-capitalize">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text py-2"><strong>Price: $ {{ listing.initial_bid.bid }}</strong></p>
                <a href="{% url 'listing' listing_id=listing.id %}" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor%}
    </div>
      
{% endblock %}