{% extends "auctions/layout.html" %} {% block body %}
    {% if not listing.isActive and user.is_authenticated and user == listing.initial_bid.user  %}
            <div class="alert alert-success">
                <strong>CONGRATS!!! YOU ARE THE WINNER OF THIS AUCTION</strong>
            </div>
    {% endif %}

    <div class="row d-flex mt-3">
    <div class="col">
        <h2 class="my-2 text-capitalize">Listing: {{listing.title}}</h2>
        <p class="text-capitalize">
        <img
        src="{{ listing.url }}"
        class="img-fluid rounded-start shadow rounded"
        alt="{{ listing.title }}"
        style="width: 400px; height: 400px"
        />
        <p class="text-capitalize lead font-weight-bolder">
            $ {{listing.initial_bid.bid}}
        </p>
        <div class="row d-flex flex-column">
            <div class="col">
                {% if user.is_authenticated and listing.isActive %}
                    {% if message %}
                        {% if update %}
                            <div class="alert alert-success">
                                <strong>{{ message }}</strong>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endif %}
                    {% endif %}
                    <form class="d-flex align-items-center" action="{% url 'updateBid' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <input
                        type="number"
                        class="mr-2"
                        name="new-bid"
                        value="{{listing.initial_bid.bid}}"
                        min="{{listing.initial_bid.bid}}"
                        />
                        <button class="btn btn-primary" type="submit">Place Bid</button>
                    </form>
                    <div class="d-flex col-12 pl-0 mt-1">
                        {% if isInWatchlist %}
                            <form
                                action="{% url 'removeWatchlist' listing_id=listing.id %}"
                                method="POST"
                            >
                                {% csrf_token %}
                                <button class="btn btn-warning my-3" type="submit">x Watchlist</button>
                            </form>
                        {% else %}
                            <form action="{% url 'addWatchlist' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-info my-3" type="submit">+ Watchlist</button>
                            </form>
                        {% endif %} 
                        {% if isListingOwner %}
                            <form action="{% url 'closeAuction'  listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger my-3 ml-3" type="submit">Close Auction</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <strong>Category: </strong>{{ listing.category }}
        </p>
        <p class="text-capitalize"><strong>Listed by: </strong>{{ listing.owner }}</p>
        {% if listing.isActive %}
            <p class="text-capitalize"><strong>Listing Status: </strong>Active</p>
        {% else %}
            <p class="text-capitalize"><strong>Listing Status: </strong>Closed</p>
        {% endif %}
        <p class="text-capitalize">
        <strong>Description: </strong>{{ listing.description }}
        </p>
    </div>
    </div>

    <div class="card w-50 p-3 bg-light">
    <h3>Comments:</h3>
    {% if user.is_authenticated %}
    <form action="{% url 'addComment' listing.id %}" method="POST">
        {% csrf_token %}
        <label for="#new-comment">Add Comment</label>
        <input
        type="textarea"
        placeholder="Comment"
        name="comment"
        id="new-comment"
        />
        <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
    {% endif%} 
    {% for comment in comments %}
    <div class="card p-1 my-2">
        <p class="mb-0">{{ comment.listingComment }}</p>
        <p class="mb-0 small capitalized text-capitalize">Author: {{ comment.author }}</p>
    </div>
    {% endfor %}
    </div>

{% endblock %}
