{% extends "auctions/layout.html" %} {% block body %}
<div class="row d-flex flex-column">
  {% if user.is_authenticated %}
  {% if message %}
    {% if update %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% else %}
        <div class="alert alert-danger">
            <strong>{{ message }}</strong>
        </div>
    {% endif %}
  {% endif %}
  <form class="d-flex align-items-center" action="{% url 'updateBid' listing_id=listing.id %}" method="POST">
    {% csrf_token %}
    <label for="#newBid" class="mb-0 mr-2"> Add your new bid: </label>
    <input
      type="number"
      class="mr-2"
      id="newBid"
      value="{{listing.initial_bid.bid}}"
      min="{{listing.initial_bid.bid}}"
    />
    <button class="btn btn-primary" type="submit">Send Bid</button>
  </form>

  {% if isInWatchlist %}
  <form
    action="{% url 'removeWatchlist' listing_id=listing.id %}"
    method="POST"
  >
    {% csrf_token %}
    <button class="btn btn-warning my-3" type="submit">Remove</button>
  </form>
  {% else %}
  <form action="{% url 'addWatchlist' listing_id=listing.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-info my-3" type="submit">Add</button>
  </form>
  {% endif %} {% if user == listing.owner %}
  <button type="submit" class="btn btn-warning">Close auction</button>
  {% endif %} {% endif %}
</div>

<div class="row d-flex mt-3">
  <div class="col">
    <img
      src="{{ listing.url }}"
      class="img-fluid rounded-start"
      alt="{{ listing.title }}"
      style="width: 300px; height: 300px"
    />

    <h2 class="mt-5">Item: {{listing.title}}</h2>
    <p class="text-capitalize">
      <strong>Category: </strong>{{ listing.category }}
    </p>
    <p class="text-capitalize"><strong>Owner: </strong>{{ listing.owner }}</p>
    {% if listing.isActive %}
    <p class="text-capitalize"><strong>Listing Status: </strong>Active</p>
    {% else %}
    <p class="text-capitalize"><strong>Listing Status: </strong>Inactive</p>
    {% endif %}
    <p class="text-capitalize">
      <strong>Initial bid: $</strong>{{ listing.initial_bid }}
    </p>
    <p class="text-capitalize">
      <strong>Description: </strong>{{ listing.description }}
    </p>
  </div>
</div>

<div>
  <h3>Comments:</h3>
  {% if user.is_authenticated %}
  <form action="{% url 'addComment' listing.id %}" method="POST">
    {% csrf_token %}
    <label for="#new-comment">Add Comment</label>
    <input
      type="textarea"
      placeholder="Comment"
      name="comment"
      id="new-comment"
    />
    <button type="submit" class="btn btn-primary">Add comment</button>
  </form>
  {% endif%} {% for comment in comments %}
  <p>Author: {{ comment.author }}</p>
  <p>{{ comment.listingComment }}</p>
  {% endfor %}
</div>

{% endblock %}
